.footer {
    position: relative;
    width: 100%;
    background-color: rgb(37, 34, 34);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.social-icon li {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}

.social-icon li:hover {
    transform: translateY(-10px);
}

.menu li {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

.menu li:hover {
    opacity: 1;
}

h3 {
    color: rgba(234, 240, 246, 0.8);;
    text-align: center;
    background-color: rgb(37, 34, 34);
    padding-bottom: 20px;
    font-size: 1em;

}

@media screen and (max-width: 850px) {
    .menu {
        @apply flex flex-col  items-start
    }

    .social-icon {
        @apply flex flex-col gap-2
    }

    .footer {
        @apply flex flex-row justify-around
    }
}